.search_page__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap-reverse;
}

.search_page__main_area_wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 60%;
}

.search_page__container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 40px);
    gap: 20px
}

.search_page__upperbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search_page__filters {
    display: flex;
    justify-content: center;
}