.text_view_card__card_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 80vh;
}

.text_view_card__title {
    font-size: 35px;
    font-weight: bold;
}



.text_view_card__author {
    font-size: 25px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.50);
}

.text_view_card__card {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background: #F0F0F0;
    padding: 30px;
    min-width: 40vw;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
    justify-content: center;
}

.text_view_card__sentences {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    min-height: 70vh
}

.text_view_card__text {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.text_view_card__pagination {
    display: flex;
    justify-content: center;
}

.text_view_card__button {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    color: #281B15;
}

.text_view_card__title_author {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text_view_card__upperbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

